<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">WINAN'S BLOG!</h1>
      <p class="lead">I write about your interest, wonder how I know?.</p>
      <hr class="my-4">
      <p>check-in and see , it is a delight to have your questions answered.</p>
      <p class="lead">
        <a class="btn btn-success btn-lg" href="#" role="button">Signup</a>
      </p>
    </div
  </div>
</div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>