
<div class="row justify-content-center">
  <div class="col-10">
    <%= render 'form %>
    </div>
    <div class="mb-3 description">
        <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-info justify-content-center description" %>
        </div>
        </div>
</div> 


